# deps
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next
.next/
out/
next-env.d.ts

# build
build/
dist/

# env
.env
.env*.local

# vercel
.vercel

# misc
.DS_Store
*.log
*.tsbuildinfo

# editor
.vscode/
.idea/
